# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HttpExtensions.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zsolt\source\repos\AzFunctions-CSharp-HttpExtensions\HttpExtensions\.idea\.idea.HttpExtensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
